.header__link {
    transition: 0.3s linear;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    color: #ffff;
}

.header__link:hover {
    opacity: 80%;
    cursor: pointer;
}