.auth__input {
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 114%;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Inter", "Arial", sans-serif;
    max-width: 358px;
    padding-left: 0;
    padding-right: 0;
    background-color: black;
    border-bottom: solid 2px #CCCCCC;
    color: #FFFFFF;
}
